{% extends 'base.html' %}
{% load static %}
{% load tags %}

{% block title %}{{ book.title }}{% endblock %}
{% block og_title %}{{ book.title }}{% endblock %}
{% block og_url %}{{ request.path }}{% endblock %}

{% block content %}

<ul class="mui-tabs__bar">
  <li class="mui--is-active"><a data-mui-toggle="tab" data-mui-controls="pane-default-1">Details</a></li>
  <li><a data-mui-toggle="tab" data-mui-controls="pane-default-2">Description</a></li>
</ul>

<div class="mui-tabs__pane mui--is-active" id="pane-default-1">
  <br>

  <div class="mui-container-fluid">

    <div class="mui-row" style='display: flex'>

      <div class="mui-col-md-4" style='display: flex;justify-content: center;align-items: center'>
        <img src="http://books.google.com/books?id={{ book.bookid }}&printsec=frontcover&img=1&zoom={{ book.imagesize }}&source=gbs_gdata" alt="{{ book.title }}">
      </div>
      <div class="mui-col-md-8">

        <div class="mui-col-md-10">
          <div class="mui--text-display1">{{ book.title }}</div>
          <br>

          <table class="mui-table">
            <tbody>
              <tr>
                <td>Author(s)</td>
                <td>{{ book.authors }}</td>
              </tr>
              <tr>
                <td>Publisher</td>
                <td>{{ book.publisher }}</td>
              </tr>
              <tr>
                <td>Published</td>
                <td>{{ book.published }}</td>
              </tr>
              <tr>
                <td>ISBN</td>
                <td>{{ book.isbn }}</td>
              </tr>
              <tr>
                <td>Page Count</td><td>{{ book.pages }}</td>
              </tr>
              <tr>
                <td>Language</td>
                <td>{{ book.language }}</td>
              </tr>
              <tr>
                <td colspan="2">
                  {% if user.is_authenticated %}
                    <form class="mui-form" id="addBookForm" method="post">
                      {% csrf_token %}

                      <div class="mui-select">
                        {{ book_form.status.errors }}
                        {{ book_form.status }}
                      </div>

                      <div class="mui-textfield">
                        {{ book_form.completed.errors }}
                        {{ book_form.completed }}
                      </div>

                      <input type="hidden" name="addOrEditBook" value="{{ book.id }}">
                      <button type="submit" value="1" class="mui-btn--primary mui-btn" name="bookSubmit">{% if userbook %}Edit{% else %}Add{% endif %}</button>
                      {% if userbook %}
                        <button type="submit" value="1" class="mui-btn--accent mui-btn" name="deleteBook">Delete</button>
                      {% endif %}

                    </form>

                  {% else %}

                    <a href="{% url 'login' %}?next={{ request.get_full_path|urlencode }}"><i class="fa fa-user"></i> Add Book</a>

                  {% endif %}
                </td>

              </tr>

            </tbody>
          </table>

        </div><!-- mui-col-md-10 -->

        <div class="mui-col-md-2">
          <script type="text/javascript">GBS_insertPreviewButtonPopup('ISBN:{{ book.isbn }}');</script>

          <!-- Go to www.addthis.com/dashboard to customize your tools -->
          <div class="addthis_inline_share_toolbox_50et"></div>
             
          {% if book_users %}
            <br><br><div class="mui-divider"></div><br>

            <i>Read by:</i><br><br>

            {% for bu in book_users %}
              <a class="mui--text-title userAvatar userAvatarSmall" href="{% url 'user_page' username=bu.user.username %}" style="{{ bu.user.id|user2rgb }}">{{ bu.user.username|slice:":2"|upper }}</a>
            {% endfor %}

          {% endif %}

        </div>

      </div><!-- mui-col-md-8 -->

    </div><!-- mui-row -->
  </div><!-- mui-container-fluid -->

</div><!-- mui-tabs__pane -->

<div class="mui-tabs__pane" id="pane-default-2">
  <br>
  <div class="mui-panel">
    {{ book.description|safe }}
  </div>
</div>


{% if notes or userbook %}

  <br><div class="mui-divider"></div><br>

  <div class="mui--text-display1">Notes &amp; Quotes</div>
  <br>

  {% if userbook %}
    <div class="mui-panel">
      <form class="mui-form" name="addNoteForm_new" method="post">
        {% csrf_token %}
        <div class="mui-select">
          <select name="type_note">
            <option value='n'>Note</option> 
            <option value='q'>Quote</option> 
          </select>
        </div>
        <div class="mui-textfield">
          <textarea name="description"></textarea>
        </div>
        <div class="mui-checkbox">
          <label>
            <input name="public" type="checkbox" value="1" checked>
            publicly shared quote/note
          </label>
        </div>
        <input type="hidden" name="noteSubmit" value="1">
        <button type="submit" value="1" class="mui-btn--primary mui-btn" name="addNote">Add</button>
      </form>
    </div>
  {% endif %}


  {% for note in notes %}
    <div class="mui-panel note">
      {% if note.user == request.user %}
        <form class="mui-form" name="noteForm_{{ note.id }}" method="post">
          {% csrf_token %}
          <div class="mui-select">
            <select name="type_note">
              <option value='n' {% if note.type_note == 'n' %}selected{% endif %}>Note</option> 
              <option value='q' {% if note.type_note == 'q' %}selected{% endif %}>Quote</option> 
            </select>
          </div>
          <div class="mui-textfield">
            <textarea name="description">{{ note.description }}</textarea>
          </div>
          <div class="mui-checkbox">
            <label>
              <input name="public" type="checkbox" value="1" {% if note.public %}checked{% endif %}>
              publicly shared quote/note
            </label>
          </div>
          <input type="hidden" name="noteid" value="{{ note.id }}">
          <input type="hidden" name="noteSubmit" value="1">
          <button type="submit" value="1" class="mui-btn--primary mui-btn" name="editNote">Edit</button>
          <button type="submit" value="1" class="mui-btn--accent mui-btn" name="deleteNote">Delete</button>
        </form>

      {% else %}

        <p><a class="mui--text-title userAvatar" href="{% url 'user_page' username=note.user.username %}" style="{{ note.user.id|user2rgb }}">{{ note.user.username|slice:":2"|upper }}</a> <span class="usernameAndTime">{{ note.user.username }} added a {{ note.type_note_label }} {{ note.inserted|timesince }} ago:</span></p>
        {% if note.quote %}
          <blockquote class="description">{{ note.description }}</blockquote>
        {% else %}
          <p class="description">{{ note.description }}</p>
        {% endif %}

      {% endif %}
    </div>
  {% endfor %}

{% endif %}

{% endblock %}
