{% extends 'base.html' %}
{% load static %}

{% block content %}

<ul class="mui-tabs__bar">
  <li class="mui--is-active"><a data-mui-toggle="tab" data-mui-controls="pane-default-1">Details</a></li>
  <li><a data-mui-toggle="tab" data-mui-controls="pane-default-2">Description</a></li>
</ul>

<div class="mui-tabs__pane mui--is-active" id="pane-default-1">
  <br>

  <div class="mui-container-fluid">

    <div class="mui-row">
      <div class="mui-col-md-4">
        <img src="http://books.google.com/books?id={{ book.bookid }}&printsec=frontcover&img=1&zoom=2&source=gbs_gdata" alt="{{ book.title }}">
      </div>
      <div class="mui-col-md-8">
        <div class="mui--text-display1">{{ book.title }}
          <div id="preview">
            <script type="text/javascript">GBS_insertPreviewButtonPopup('ISBN:{{ book.isbn }}');</script>
          </div>
        </div>

        <br>

        <table class="mui-table">
          <tbody>
            <tr>
              <td>Author(s)</td>
              <td>{{ book.authors }}</td>
            </tr>
            <tr>
              <td>Publisher</td>
              <td>{{ book.publisher }}</td>
            </tr>
            <tr>
              <td>Published</td>
              <td>{{ book.published }}</td>
            </tr>
            <tr>
              <td>ISBN</td>
              <td>{{ book.isbn }}</td>
            </tr>
            <tr>
              <td>Page Count</td><td>{{ book.pages }}</td>
            </tr>
            <tr>
              <td>Language</td>
              <td>{{ book.language }}</td>
            </tr>
            <tr>
              <td colspan="2">
                {% if user.is_authenticated %}
                  <form class="mui-form" id="addBookForm" method="post">
                    {% csrf_token %}

                    <div class="mui-select">
                      {{ book_form.status.errors }}
                      {{ book_form.status }}
                    </div>

                    <div class="mui-textfield">
                      {{ book_form.completed.errors }}
                      {{ book_form.completed }}
                    </div>

                    <button type="submit" value="1" class="mui-btn--primary
                    mui-btn" name="bookSubmit">{% if userbook %}Edit{% else %}Add{% endif %}</button>
                    <button type="submit" value="1" class="mui-btn--danger mui-btn" name="bookSubmit">Delete</button>

                  </form>

                {% else %}

                <a href="{% url 'auth_login' %}?next={{ request.get_full_path|urlencode }}">
                  <i class="fa fa-user" aria-hidden="true"></i> Add Book</a>

                {% endif %}
              </td>

            </tr>
          </tbody>
        </table>
      </div>
    </div><!-- mui-row -->
  </div><!-- mui-container-fluid -->

</div><!-- mui-tabs__pane -->

<div class="mui-tabs__pane" id="pane-default-2">
  <br>
  <div class="mui-panel">
    {{ book.description|safe }}
  </div>
</div>


<div class="mui--text-display1">Quotes &amp; Notes</div>
<br>

{% for note in notes %}
  <div class="mui-panel">
    {% if note.user == request.user %}
      <form class="mui-form" name="noteForm_{{ note.id }}" method="post">
        {% csrf_token %}
        <div class="mui-textfield">
          <textarea name="description"></textarea>
        </div>
        <div class="mui-checkbox">
          <label>
            <input name="private" type="checkbox" value="1" checked>
            Private quote/note
          </label>
        </div>
        <input type="hidden" name="noteid" value="{{ note.id }}">
        <button type="submit" value="1" class="mui-btn--primary mui-btn" name="noteSubmit">Edit</button>
        <button type="submit" value="1" class="mui-btn--danger mui-btn" name="deleteNote">Delete</button>
      </form>
    {% elif note.quote %}
      <blockquote>{{ note.description }}</blockquote>
    {% else %}
      <p>{{ note.description }}</p>
    {% endif %}
  </div>
{% endfor %}

<div class="mui-panel">
  <form class="mui-form" name="addNoteForm_new" method="post">
    {% csrf_token %}
    <div class="mui-select">
      <select name="type_note">
        <option value='n'>Note</option> 
        <option value='q'>Quote</option> 
      </select>
    </div>
    <div class="mui-textfield">
      <textarea name="description"></textarea>
    </div>
    <div class="mui-checkbox">
      <label>
        <input name="private" type="checkbox" value="1" checked>
        Private quote/note
      </label>
    </div>
    <input type="hidden" name="noteid" value="-1">
    <button type="submit" value="1" class="mui-btn--primary mui-btn" name="noteSubmit">Add</button>
    <button type="submit" value="1" class="mui-btn--danger mui-btn" name="deleteNote">Delete</button>
  </form>
</div>

{% endblock %}
