{% extends 'base.html' %}
{% load static %}
{% load tags %}

{% block content %}

<div class="mui--text-display1">
  {% if username == request.user.username %}
    Your
  {% else %}
    {{ username|title }}{% if username|slice:"-1:" == "s" %}'{% else %}'s{% endif %}
  {% endif %}
  Reading List
</div>
<br>
<div class="mui--text-subhead mui--text-accent-secondary">
  <strong class="mui--text-title">{{ num_books }}</strong> books added, 
  <strong class="mui--text-title">{{ num_pages }}</strong> pages read
</div>

<br><div class="mui-divider"></div><br>

{% if num_books == 0 %}
  <div class="mui--text-title">
    {% if username == request.user.username %}You{% else %}{{ username }}{% endif %} did not add any books yet.
  </div>

{% else %}

  <ul class="mui-tabs__bar">
    <li class="mui--is-active"><a data-mui-toggle="tab"
    data-mui-controls="pane-default-1">Reading ({{ userbooks|get_item:'r'|length }})</a></li>
    <li><a data-mui-toggle="tab" data-mui-controls="pane-default-2">Completed ({{ userbooks|get_item:'c'|length }})</a></li>
    <li><a data-mui-toggle="tab" data-mui-controls="pane-default-3">Wants to read ({{ userbooks|get_item:'t'|length }})</a></li>
  </ul>

  {% for books in userbooks.values %}
    <div class="mui-tabs__pane {% if forloop.counter == 1 %}mui--is-active{% endif %}" id="pane-default-{{ forloop.counter }}">
      <br>

      <div class="mui-panel">
        {% for book in books %}
          <a href="{% url 'book_page' bookid=book.book.bookid %}" title="{{ book.book.title }}">
            <img class="thumbNail" src="http://books.google.com/books?id={{ book.book.bookid }}&printsec=frontcover&img=1&zoom=1&source=gbs_gdata" alt="{{ book.book.title }}">
          </a>
        {% endfor %}
      </div>

    </div>
  {% endfor %}

{% endif %}

{% endblock %}
