{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load tags %}

{% block title %}{{ username|title }}{% if username|slice:"-1:" == "s" %}'{% else %}'s{% endif %} Reading List{% endblock %}
{% block og_title %}{{ username|title }}{% if username|slice:"-1:" == "s" %}'{% else %}'s{% endif %} Reading List{% endblock %}
{% block og_url %}{{ request.path }}{% endblock %}

{% block css %}
  <style>
    #search {
      background: #f2f2f2;
      border: 1px solid #ddd;
      width: 100%;
    }
    .qVal {
      width: 90%;
      margin: 10px;
    }
    .hide {
      display: none;
    }
  </style>
{% endblock %}

{% block content %}
<div class="mui-container-fluid">
  <div class="mui-row">
    <div class="mui-col-md-10">
      <div class="mui--text-display1">
        {% if username == request.user.username %}
          Your
        {% else %}
          {{ username|title }}{% if username|slice:"-1:" == "s" %}'{% else %}'s{% endif %}
        {% endif %}
        Reading List
      </div>
      <br>
      {% if share_goal %}
        <div class="mui--text-subhead mui--text-accent">
            {% if username == request.user.username %}You have{% else %}{{ username }} has{% endif %} read {{completed_books_this_year|length}} of {{ goal.number_books }} books this year.  {% if username == request.user.username %}<small><a href="{% url 'goal:set_goal' %}">{edit}</a></small>{% endif %}

            <br><br>
            <progress id="readingProgress" value="{{ perc_completed}}" max="100">
            </progress>{{ perc_completed }}%

            <br><br>
            {% if username == request.user.username %}
              <a class="mui-btn mui-btn--small mui-btn--raised" href="https://twitter.com/intent/tweet?url=http://pybitesbooks.com{{ request.path }}&text=I%20read%20{{completed_books_this_year|length}}%20of%20{{ goal.number_books }}%20books%20this%20year%2C%20and%20now%20I%20Challenge%20You!%20Join%20me%20at%20%40PyBites%20%23Books&hashtags=PyBitesBooks%2CLoveReading%2CSelfDevelopment" title="Share this achievement on Twitter" target="_blank" style="margin: 5px 8px 5px 0;">
                  Share on Twitter</a>
                <br><br>
            {% endif %}
        </div>
      {% endif %}

      <div class="mui--text-subhead mui--text-accent-secondary">
        Total reading: <strong class="mui--text-title">{{ user_stats.num_books_added }}</strong> books added, of which <strong class="mui--text-title">{{ user_stats.num_books_done }}</strong> read totalling <strong class="mui--text-title">{{ user_stats.num_pages_read|intcomma }}</strong> pages.
      </div>

      {% if user_lists %}
        <div class="mui--text-subhead mui--text-dark-secondary">
          Reading lists:
          {% for ul in user_lists %}
            <a href="{% url "lists-detail" name=ul.name %}">{{ ul.name }}</a>
            {% if not forloop.last %} | {% endif %}
          {% endfor %}
          {% if is_me %}
            | <a class="mui-btn mui-btn--small" href="{% url "lists-view" %}">+</a>
          {% endif %}
        </div>
      {% endif %}

    </div>

    <div class="mui-col-md-2">
      <div class="badge">
        <a href="#" title="wow you read {{ user_stats.num_books_done }} books!">
          <img src="{% static 'img/book-badge.png' %}" class="bookBadge" alt="book badge">
        </a>
        <span class="numBooks">{{ user_stats.num_books_done }}</span>
      </div>
    </div>
  </div>
</div>

<br><div class="mui-divider"></div><br>

{% if not user_stats.num_books_added %}
  <div class="mui--text-title">
    {% if username == request.user.username %}You{% else %}{{ username }}{% endif %} did not add any books yet.
  </div>

{% else %}

    <ul class="mui-tabs__bar">
      {% if share_goal %}
        <li class="mui--is-active">
          <a data-mui-toggle="tab"
            data-mui-controls="pane-default-0">{{goal.year}} challenge</a>
        </li>
      {% endif %}
      <li {% if not share_goal %}class="mui--is-active"{% endif %}>
        <a data-mui-toggle="tab"
          data-mui-controls="pane-default-1">Reading ({{ grouped_user_books|get_item:'r'|length }})</a>
      </li>
      <li><a data-mui-toggle="tab" data-mui-controls="pane-default-2">Completed ({{ grouped_user_books|get_item:'c'|length }})</a></li>
      <li><a data-mui-toggle="tab" data-mui-controls="pane-default-3">Wants to read ({{ grouped_user_books|get_item:'t'|length }})</a></li>
      {% if request.user.username == username %}
        <li><a data-mui-toggle="tab" data-mui-controls="pane-default-4">Widget</a></li>
      {% endif %}
    </ul>

    {% if share_goal %}
      <div class="mui-tabs__pane mui--is-active" id="pane-default-0">
        <br>
        <div class="mui-panel">
          {% if completed_books_this_year %}
            {% for book in completed_books_this_year %}
              <a href="{% url 'books:book_page' bookid=book.book.bookid %}" title="{{ book.book.title }}">
                <img class="thumbNail" src="http://books.google.com/books?id={{ book.book.bookid }}&printsec=frontcover&img=1&zoom=1&source=gbs_gdata" alt="{{ book.book.title }}">
                <input class="js-favorite" title="favorite" type="checkbox" bookid={{ book.book.bookid }} {% if book.favorite %} checked{% endif %}>
              </a>
            {% endfor %}
          {% else %}
            <p>No books read yet for this year's challenge.</p>
          {% endif %}
        </div>
      </div>
    {% endif %}

    {% for books in grouped_user_books.values %}
      <div class="mui-tabs__pane {% if forloop.counter == 1 and not share_goal %}mui--is-active{% endif %}" id="pane-default-{{ forloop.counter }}">
        <br>

        {% if forloop.counter == 2 and user_stats.num_books_done >= min_books_search %}
          <div id="search">
            <input id="filter" name="filter"
              class="defaultText qVal" title="Filter books ... " />
          </div>
        {% endif %}

        <div class="mui-panel"
             {% if forloop.counter == 2 and user_stats.num_books_done >= min_books_search %}id="booksWrapper"{% endif %}
        >

          {% for book in books %}
            <a class="book" href="{% url 'books:book_page' bookid=book.book.bookid %}" title="{{ book.book.title }}{% if book.status == 'c' %} - completed {{ book.completed|timesince }} ago{% endif %}">
              <span class="hide">{{book.book.title}} ({{book.book.authors}})</span>
              <img class="thumbNail" src="http://books.google.com/books?id={{ book.book.bookid }}&printsec=frontcover&img=1&zoom=1&source=gbs_gdata" alt="cover img of {{ book.book.title }}">
              <input class="js-favorite" title="favorite" type="checkbox" bookid={{ book.book.bookid }} {% if book.favorite %} checked{% endif %}>
            </a>
          {% endfor %}
        </div>

      </div>
    {% endfor %}
  {% endif %}

  {% if request.user.username == username %}
    <div class="mui-tabs__pane" id="pane-default-4">
      <br>
      <p>Embed the books you have read on your website or blog (<a href="https://bobbelderbos.com/books/" target="_blank">example</a>). Use this code:</p>
      <pre>&lt;iframe src="https://pybitesbooks.com/widget/{{ username }}" frameborder="0" scrolling="no"&gt;&lt;/iframe&gt;</pre>
    </div>
  {% endif %}

{% endblock %}

{% block javascript %}
  <script src="{% static 'js/blazy.min.js' %}"></script>
  <script src="{% static 'js/search.js' %}"></script>
{% endblock %}
