/**
 * Body CSS
 */
html,
body {
  height: 100%;
}

html,
body,
input,
textarea,
button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}


/**
 * Header CSS
 */
header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}

header ul.mui-list--inline {
  margin-bottom: 0;
}

header a {
  color: #fff;
}

header table {
  width: 100%;
}


/**
 * Content CSS
 */
#content-wrapper {
  min-height: 100%;

  /* sticky footer */
  box-sizing: border-box;
  margin-bottom: -100px;
  padding-bottom: 100px;
}


/**
 * Footer CSS
 */
footer {
  box-sizing: border-box;
  height: 100px;
  background-color: #eee;
  border-top: 1px solid #e0e0e0;
  padding-top: 35px;
}



/* autocomplete */

.searchResWrapper {
  float: left;
  clear: both;
  padding-left: 0px;
  margin-left: 0px;
}
.bookThumb {
  height: 50px;
  width: 30px;
  padding: 0px;
  margin-right: 10px;
}
.titleAndAuthors {
  position: relative;
  bottom: 20px;
}

#actionWrapper {
  margin-top: 10px;
}

#bookInfo ul {
  padding: 0px;
}

/* custom styles */
blockquote {
  border-left: 1px solid #f2f2f2;
  padding: 0.5em 10px;
  quotes: "“" "”";
}
blockquote:before, blockquote:after {
  color: #ccc;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.10em;
  vertical-align: -0.4em;
}
blockquote:before {
  content: open-quote;
}
blockquote:after {
  content: " ";
}

.thumbNail {
  height: 100px;
  width: 70px;
  margin: 5px 3px;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

#navigation li {
  margin-left: 10px;
  padding: 5px 10px;
}

.userAvatar {
  width: 30px;
  height: 30px;
  margin: 5px;
  float: left;
  border-radius: 50%;
  padding: 5px;
  color: #fff;
  border: 1px solid #ccc;
}
.userAvatarSmall {
  width: 20px;
  height: 20px;
  margin: 2px;
  padding: 2px 3px 8px 7px;
  font-size: 85%;
}

.note .usernameAndTime {
  margin-left: 20px;
}

.note .description {
  float: left;
  margin-left: 20px;
}

.badge {
  width: 120px;
  height: 120px;
  position: relative;
}
.badge .numBooks {
  position: absolute;
  top: 52px;
  left: 46px;
  width: 20px;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}
.rankAvatar {
  background-color: #2196F3;
  color: white;
  position: absolute;
  top: 90px;
  left: 80px;
}
#readingProgress {
  position: relative;
  top: 5px;
  margin-right: 10px;
}

progress[value] {
  width: 90%;
  height: 20px;
}

.js-favorite {
  visibility: hidden;
  font-size: 30px;
  cursor: pointer;
  position: relative;
  color: #E26313;
  bottom: 20px;
  right: 30px;
}
.js-favorite:before {
  content: "\2606";
  position: absolute;
  visibility: visible;
}
.js-favorite:checked:before {
  content: "\2605";
  position: relative;
}
.scrollbar {
  overflow: auto;
  white-space: nowrap;
}

.errorlist li {
  list-style: none;
  padding: 5px;
}
.errorlist {
  color: red;
  margin: 10px 0;
  padding: 0;
  border: 1px solid #ccc;
}
.clear {
  clear: both;
}
.right {
  float: right;
}
.marginTop {
  margin-top: 50px;
}
