{% extends 'base.html' %}

{% block search %}{% endblock %}

{% block content %}

  <div class="mui-container right">
    {% if num_lists_left > 0 %}
      <a class="mui-btn mui-btn--primary" href="{% url "lists-add" %}">Add a new list ({{num_lists_left}} left)</a>
    {% else %}
      <div class="mui--text-subhead mui--text-dark-secondary">
        <p>You hit the maximum number of reading lists ({{ max_num_user_lists }}),
          delete one or more to create new ones.</p>
      </div>
    {% endif %}
  </div>

  <table class="mui-table mui-table--bordered">
    <thead>
        <tr>
          <th>List</th>
          <th>Added</th>
          <th colspan="2">Edit List</th>
        </tr>
    </thead>
    <tbody>
        {% for userlist in userlist_list %}
        <tr>
          <td><a href="{% url "lists-detail" name=userlist.name %}">{{ userlist.name }}</a></td>
          <td>{{ userlist.inserted|timesince }} ago</td>
          {% if userlist.user == request.user %}
            <td><a class="mui-btn mui-btn--small mui-btn--flat mui-btn--primary" href="{% url "lists-update" userlist.id %}">Rename</a></td>
            <td><a class="mui-btn mui-btn--small mui-btn--flat mui-btn--danger" href="{% url "lists-delete" userlist.id %}">Delete</a></td>
          {% else %}
            <td></td>
          {% endif %}
        </tr>
        {% endfor %}
    </tbody>
  </table>

{% endblock %}
