{% load static %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:site_name" content="PyBites My Reading List"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="PyBites My Reading List | {% block og_title %}Because We Love Books{% endblock %}"/>
    <meta property="og:description" content="Leaders are readers! Share your reading using our reading app ..."/>
    <meta property="og:locale" content="en_US"/>
    <meta property="og:url" content="http://pbreadinglist.herokuapp.com{% block og_url %}{% endblock %}"/>
    <meta property="og:image" content="http://pbreadinglist.herokuapp.com{% static 'img/book-badge.png' %}">

    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <title>PyBites My Reading List | {% block title %}Because We Love Books{% endblock %}</title>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="//cdn.muicss.com/mui-0.9.39/extra/mui-colors.min.css">
    <script src="//cdn.muicss.com/mui-0.9.39/extra/mui-combined.min.js"></script>
    <script type="text/javascript" src="//books.google.com/books/previewlib.js"></script>
    <script src="{% static 'js/jquery_min.js' %}"></script>
    <script src="{% static 'js/jquery.autocomplete.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.autocomplete.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <header class="mui-appbar mui--z1">

    <div class="mui-container">
      <table>
        <tr class="mui--appbar-height">
          <td class="mui--text-title"><a href="{% url 'index' %}">PyBites My Reading List</a></td>

          <td class="mui--text-right">
            <ul class="mui-list--inline mui--text-body2" id="navigation">
              {% if user.is_authenticated %}
                <span>Hey {{ user.username }}</span>
                <li><a href="{% url 'user_page' username=user.username %}">My Books</a></li>
                {% if user.is_authenticated %}
                  <li><a href="{% url 'goal:set_goal' %}">Reading Challenge</a></li>
                  <li><a href="{% url 'pomodoro:track_pomodoro' %}">5-Hour Challenge</a></li>
                  <li><a href="https://join.slack.com/t/pybites/shared_invite/enQtNDAxODc0MjEyODM2LTNiZjljNTI2NGJiNWI0MTRkNjY4YzQ1ZWU4MmQzNWQyN2Q4ZTQzMTk0NzkyZTRmMThlNmQzYTk5Y2Y5ZDM4NDU" target="_blank">Join PyBites Slack / #books</a></li>
                {% endif %}
                {% if user.is_superuser %}
                  <li><a href="{% url 'admin:index' %}">Admin</a></li>
                {% endif %}
                <li><a href="{% url 'logout' %}">Logout</a></li>

              {% else %}

                <li><a href="{% url 'login' %}"><i class="fa fa-user" aria-hidden="true"></i> Login</a></li>

              {% endif %} 

            </ul>
          </td>
        </tr>
      </table>
    </div>
    </header>

    <div id="content-wrapper">

      <div class="mui--appbar-height"></div>
      <br><br>

      <div class="mui-container-fluid">
        <div class="mui-container">

          <div class="row" id="messages">
            {% for message in messages %}
              <p style="color: {% if message.tags == 'success' %}green{% elif message.tags == 'error' %}red{% endif %}">
                {% if 'safe' in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}
              </p>
            {% endfor %}
          </div>

          <div class="mui-textfield">
            <input class="form-control mr-sm-2" type="text" name="searchTitles", id="searchTitles"
              placeholder="What are you reading?" accesskey='s'>
          </div>
          <br>

          {% block content %}
          {% endblock %}

        </div>
      </div>

    </div>

    <footer>
      <div class="mui-container mui--text-center">
        <p>
          <i>A reader lives a thousand lives before he dies, said Jojen. The man who never reads lives only one. - George R.R. Martin, A Dance with Dragons</i>
          <br>Made with ♥ using <a href="https://www.muicss.com">MUICSS</a> by <a href="https://pybit.es" target="_blank">PyBites</a> | <a href="https://codechalleng.es" target="_blank">Want to Learn Python?</a>   
        </p>
      </div>
    </footer>
    <script src="//cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <script>
      new WOW().init();
    </script>

    <!-- Go to www.addthis.com/dashboard to customize your tools --> 
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5c0e40f59abcbb41"></script>

  </body>
</html>
