{% extends 'base.html' %}
{% load static %}

{% block content %}

<ul class="mui-tabs__bar">
  <li class="mui--is-active"><a data-mui-toggle="tab" data-mui-controls="pane-default-1">Details</a></li>
  <li><a data-mui-toggle="tab" data-mui-controls="pane-default-2">Description</a></li>
  <li><a data-mui-toggle="tab" data-mui-controls="pane-default-3">Preview</a></li>
</ul>

<div class="mui-tabs__pane mui--is-active" id="pane-default-1">
  <br>

  <div class="mui-container-fluid">

    <div class="mui-row">
      <div class="mui-col-md-4">
        <img class="thumbNail" src="http://books.google.com/books?id={{ book.bookid }}&printsec=frontcover&img=1&zoom=2&source=gbs_gdata" alt="{{ book.title }}">
      </div>
      <div class="mui-col-md-8">
        <div class="mui--text-display1">{{ book.title }}</div>
        <br>

        <table class="mui-table">
          <tbody>
            <tr>
              <td>Author(s)</td>
              <td>{{ book.authors }}</td>
            </tr>
            <tr>
              <td>Publisher</td>
              <td>{{ book.publisher }}</td>
            </tr>
            <tr>
              <td>Published</td>
              <td>{{ book.published }}</td>
            </tr>
            <tr>
              <td>ISBN</td>
              <td>{{ book.isbn }}</td>
            </tr>
            <tr>
              <td>Page Count</td><td>{{ book.pages }}</td>
            </tr>
            <tr>
              <td>Language</td>
              <td>{{ book.language }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div><!-- mui-row -->
  </div><!-- mui-container-fluid -->

</div><!-- mui-tabs__pane -->

<div class="mui-tabs__pane" id="pane-default-2">
  <br>
  <div class="mui-panel">
    {{ book.description|safe }}
  </div>
</div>

<div class="mui-tabs__pane" id="pane-default-3">
  <br>
  <script type="text/javascript">
  GBS_insertEmbeddedViewer('ISBN:{{ book.isbn }}',800,600);
  </script>
</div>

{% endblock %}
